black
colorama
d2l
en-core-web-sm
fqdn
gpt
isoduration
jsonpointer
mkl
nltk
openai
pip-chill
tensorflow
tensorrt
tensorrt-cu12-bindings
tensorrt-cu12-libs
tokenize-rt
torchvision
uri-template
webcolors
